@import url("https://use.typekit.net/inm6ayq.css");
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: "nexa rust", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#home-page {
    background-color: mediumblue;
}

#header-homepage {
    background-color: skyblue
}

#footer-home {
    background-color: mediumblue
}

#event-page {
    background-color: orange;
}

#event-header {
    background-color: darkorange;
}

#ticketing-page {
    background-color: mediumblue;
}

#ticketing-header {
    background-color: skyblue;
}

#footer-eventpage {
        background-color: orange;
    } 

#footer-ticketingpage {
    background-color: mediumblue;
}

#contact-page {
    background-color: orange;
}

#contact-footer {
    background-color: orange;
}

#contact-header {
    background-color: darkorange;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #fff;
    color: #333;
    border-radius: 5px;
}


.body {
    padding: 10px; 
}

.logo img {
    width: 130px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 30px; 
}



nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 10px;
}

nav ul li a {
    text-decoration:none ;
    color: #000;
    padding: 5px 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 60px;
}


h1 {
    text-align: center;
    color: white;
    font-size: 80px;
    margin-top: 150px;
    margin-bottom: 50px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 40px;
    margin-top: 150px;
    margin-bottom: 50px;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    height: 120px;
    background-color: #fff;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}




nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border-radius: 20px;
    transition: background 0.3s, transform 0.3s; 
    display: inline-block; 
}

.nav-list li a:hover {
    background-color: #555;
    transform: scale(1.05);
}


.home img {
  position: relative;
  max-width: calc(100% - 20px); 
  height: auto;
  margin: 0px;
}

.home {
  position: relative;
  max-width: calc(100% - 20px); 
  height: auto;
  margin-top: 110px; 
  margin-left: 10px;
}


.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #000;
}


.image-container {
    display: flex;
    justify-content: space-between;
}

/* Introduction Section */
#introduction {
    background-color: orange;
    padding: 70px 20px;
    text-align: center; 
    margin-top: 80px;
    border-bottom: 3px solid darkorange;
}

#introduction h2 {
    font-size: 2.8em;
    color: #fff;
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}

#introduction p {
    font-size: 1.4em;
    color: whitesmoke;
    max-width: auto;
    max-height: 700px;
    margin: 0 auto;
    line-height: 1.4;
    font-weight: lighter;
}

@media (max-width: 768px) {
    #introduction h2 {
        font-size: 2.2em;
        }
   
    
footer {
    background-color: #fff;
    color: #333;
    padding: 20px;
    text-align: center;
    position: relative; 
}

    @media (max-width: 768px)
}
footer {
    background-color: #fff;
    color: white;
    padding: 20px;
    text-align: center;
       position: center;
        bottom: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
}

.gallery img {
    width: calc(33.33% - 10px); 
    transition: transform 0.3s;
}

.gallery img:hover {
    transform: scale(1.1); 
}

#Sponsors {
    background-color: mediumblue;
    padding: 0px 0;
    margin-top: 100px;
    margin-bottom: 100px;
}

#Sponsors .sponsors {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Sponsors .sponsors img {
    width: 120px;
}

#Sponsors .sponsors img:hover {
    transform: scale(2.0);
}

* {
    box-sizing: border-box;
}

#schedule {
    font-family: 'Arial', sans-serif;
    background-color: papayawhip;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    max-width: 1700px;
    text-align: center;
    overflow: hidden;  
    border: 3px solid orange;
    margin-left: 40px;
    margin-right: 40px;
}

.schedule-content {
    border: 2px;
}
/

#schedule h2 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 30px;
    color: #fff;
}

.day {
    margin-top: 30px;
    border-radius: 8px;
    overflow: hidden;  
}

.day h3 {
    font-size: 2.3em;
    font-weight: 600;
    margin-bottom: 25px;
    color: #34495e;
}

.event {
    display: grid;
    grid-template-columns: 2fr 1.5fr 3fr;
    gap: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #fff;
    transition: transform 0.3s, background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
}

.event:hover {
    transform: translateY(-10px);
    background-color: #f7f7f7;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.time, .title, .description, .location {
    display: flex;
    align-items: center;
    justify-content: center;
}

.time {
    font-weight: 600;
    color: black;  
}

.title {
    font-weight: 600;
    color: #2c3e50;
}

.description {
    font-size: 0.9em;
    color: black;  
}


#featured-acts {
    text-align: center; 
    padding: 20px;
    border-bottom: 2px solid darkorange; 
}

#featured-acts h2 {
    font-size: 40px; 
    font-weight: bold; 
    margin: 0; 
    padding-bottom: 40px;
    color: white;
}

.act {
    text-align: center; 
    padding: 20px;
}

.act img {
    max-width: 1000px;
    margin-right: auto;
    border-radius: 90px;
    box-shadow: 0 2px 4px rgba(1, 1, 1, 1);
}

.act h3 {
    font-size: 40px; 
    font-weight: lighter;
    margin-top: 20px;
    color: white;
}

.act p {
    margin-top: 20px; 
    margin-right: 200px;
    margin-left: 200px;
    color: white;
}

.ticket-container {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 150px;
    gap: 20px;
    
}

.ticket-box {
    flex: 1;
    padding: 50px;
    border: 2px solid black;
    border-radius: 15px;
    background-color: skyblue;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.ticket-box:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.ticket-box h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2em;
    color: white;
}

.ticket-box p {
    margin-bottom: 20px;
    color: white;
}

.ticket-box button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    color: black;
}

.ticket-box.regular {
    margin-top: 100px;
}

#contact-us {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: beige;
    border-radius: 50px;
    max-width: 700px;
    max-height: 800px;
    margin: 250px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 150px;
    color: white;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], 
input[type="email"],
textarea {
    width: 100%;
    height: auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 30px;
}

textarea {
    resize: vertical;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #555;
}

.cta-button {
    display: grid;
    place-items: center;
    background-color: skyblue; 
    color: #FFFFFF;
    padding: 20px 30px;
    text-decoration: inherit;
    border-radius: 15px;
    font-weight: bolder;
    font-size: 21px;
    width: 20%;
    height: auto;
    margin-left: 550px;
    margin-top: 50px;
}

.cta-button:hover {
    background-color: lightblue; 
    transform: translateY(-2px); 
}

.cta-button:active {
    background-color: #105C37; 
    transform: translateY(1px); 
}
.cart-container {
    position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 40px;
    justify-content: space-between;
    margin-left: auto;
    padding-right: 40px;
}

#google-map-container {
    flex: 1;
    display: flex;
    justify-content: center;  
    align-items: center;   
    padding: 20px;
    background-color: beige;
    border-radius: 50px;
    max-width: 700px;
    max-height: 800px;
    margin: 250px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#google-maps-iframe {
    width: 100%;   
    height: 100%;
}

#food-merchandise {
    font-family: 'Arial', sans-serif;
    background-color: papayawhip;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-left: 40px;
    margin-right: 40px;
}

#food-merchandise h2 {
    border-bottom: 2px solid orange;
    padding-bottom: 10px;
    font-size: 24px;
    color: darkorange;
}

#food-merchandise p {
    font-size: 16px;
    margin-bottom: 20px;
    color: darkorange;
}

.food-stalls, .merchandise {
    background-color: ghostwhite;
    padding: 55px;
    margin-bottom: 55px;
    border-radius: 5px;
}

.food-stalls h3, .merchandise h3 {
    font-size: 20px;
    color: darkorange;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding-left: 0;
    color: orange
}

li {
    margin-bottom: 20px;
    margin-top: 20px;
}

strong {
    color: darkorange;
}
